{"swagger":"2.0","info":{"description":"Framework System | Tangerino","version":"0.0.1-SNAPSHOT","title":"Tangerino Service API","contact":{"name":"Tangerino Development Team","email":"contact@tangerino.com"}},"host":"employer.tangerino.com.br","basePath":"/","tags":[{"name":"User Access Control","description":"Controle Acesso Usuario Controller"},{"name":"account-controller","description":"Account Controller"},{"name":"adjustment-reason-controller","description":"Adjustment Reason Controller"},{"name":"adjustment-reason-record-controller","description":"Adjustment Reason Record Controller"},{"name":"adjustment-reason-record-controller-v-2","description":"Adjustment Reason Record Controller V 2"},{"name":"admission-controller","description":"Admission Controller"},{"name":"alert-controller","description":"Alert Controller"},{"name":"assinatura-eletronica-controller","description":"Assinatura Eletronica Controller"},{"name":"balance-controller-v-2","description":"Balance Controller V 2"},{"name":"batch-action-controller","description":"Batch Action Controller"},{"name":"black-november-game-controller","description":"Black November Game Controller"},{"name":"cbo-controller","description":"CBO Controller"},{"name":"company-controller","description":"Company Controller"},{"name":"company-controller-v-2","description":"Company Controller V 2"},{"name":"contact-controller","description":"Contact Controller"},{"name":"cost-center-controller","description":"Cost Center Controller"},{"name":"device-controller","description":"Device Controller"},{"name":"device-controller-v-2","description":"Device Controller V 2"},{"name":"device-request-controller","description":"Device Request Controller"},{"name":"digital-signage-controller","description":"Digital Signage Controller"},{"name":"electronic-watch-controller","description":"Electronic Watch Controller"},{"name":"employee-controller","description":"Employee Controller"},{"name":"employee-controller-v-2","description":"Employee Controller V 2"},{"name":"employee-function-controller","description":"Employee Function Controller"},{"name":"employee-range-controller","description":"Employee Range Controller"},{"name":"employee-work-schedule-controller","description":"Employee Work Schedule Controller"},{"name":"employee-work-schedule-controller-v-2","description":"Employee Work Schedule Controller V 2"},{"name":"employer-controller","description":"Employer Controller"},{"name":"holiday-calendar-controller","description":"Holiday Calendar Controller"},{"name":"hubspot-controller","description":"Hubspot Controller"},{"name":"job-role-controller","description":"Job Role Controller"},{"name":"lead-controller","description":"Lead Controller"},{"name":"manager-controller","description":"Manager Controller"},{"name":"modularization-controller","description":"Modularization Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"occupational-health-controller","description":"Occupational Health Controller"},{"name":"order-service-controller","description":"Order Service Controller"},{"name":"partner-controller","description":"Partner Controller"},{"name":"payssego-controller","description":"Payssego Controller"},{"name":"punch-rule-controller","description":"Gerenciamento de Regras de Ponto"},{"name":"punch-rule-controller-v-2","description":"Gerenciamento de Regras de Ponto - V2"},{"name":"recover-pin-controller","description":"Recover PIN Controller"},{"name":"refund-controller","description":"Refund Controller"},{"name":"research-controller","description":"Research Controller"},{"name":"salary-analysis-controller","description":"Salary Analysis Controller"},{"name":"test-controller","description":"Test Controller"},{"name":"trucker-stops-controller","description":"Trucker Stops Controller"},{"name":"trucker-stops-record-controller","description":"Trucker Stops Record Controller"},{"name":"umux-survey-controller","description":"Umux Survey Controller"},{"name":"unified-controller","description":"Unified Controller"},{"name":"usuario-controller","description":"Usuario Controller"},{"name":"whats-app-controller","description":"Whats App Controller"},{"name":"work-schedule-controller","description":"Work Schedule Controller"},{"name":"workplace-controller","description":"Workplace Controller"}],"paths":{"/account":{"get":{"tags":["account-controller"],"summary":"Get Account Information","operationId":"getAccountUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"originalRef":"AccountDTO","$ref":"#/definitions/AccountDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["account-controller"],"summary":"Put Account Information","operationId":"updateAccountableUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AccountableDTO","$ref":"#/definitions/AccountableDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AccountableDTO","$ref":"#/definitions/AccountableDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/account/update-status":{"put":{"tags":["account-controller"],"summary":"Cancel Account","operationId":"cancelAccountUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AccountRequestDTO","$ref":"#/definitions/AccountRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AccountDTO","$ref":"#/definitions/AccountDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment-reason/find":{"get":{"tags":["adjustment-reason-controller"],"summary":"Find one Adjustment Reason","operationId":"findWorkplaceByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tangerinoId","in":"query","description":"Adjustment Reason Tangerino Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentReasonResponseDTO","$ref":"#/definitions/AdjustmentReasonResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment-reason/find-all":{"get":{"tags":["adjustment-reason-controller"],"summary":"Find All Adjustment Reason By Employer","operationId":"findAllEmployeeUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"lastUpdate","in":"query","description":"purpose of this property is to return only Adjustment Reason with update more recent than this date - timeinmilis ","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«AdjustmentReasonResponseDTO»","$ref":"#/definitions/Page«AdjustmentReasonResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment-reason/register":{"post":{"tags":["adjustment-reason-controller"],"summary":"Register Adjustment","operationId":"registerUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AdjustmentReasonDTO","$ref":"#/definitions/AdjustmentReasonDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentReasonResponseDTO","$ref":"#/definitions/AdjustmentReasonResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment/find-all":{"get":{"tags":["adjustment-reason-record-controller"],"summary":"Find All Adjustment By Employer","operationId":"findAllEmployeeUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"adjustmentReasonId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"employeeId","in":"query","description":"Filtro por id do colaborador","required":false,"type":"integer","format":"int64"},{"name":"ignoreExcluded","in":"query","required":false,"type":"boolean"},{"name":"lastUpdate","in":"query","description":"Filtro pela data de alteração do ajuste em milisegundos. Retorna todos os ajustes a partir desta data.","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Número da página","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Quantidade de itens por página","required":false,"type":"integer","format":"int32"},{"name":"workplaceId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«AdjustmentReasonRecordResponseDTO»","$ref":"#/definitions/Page«AdjustmentReasonRecordResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment/register":{"post":{"tags":["adjustment-reason-record-controller"],"summary":"Register Adjustment","operationId":"registerUsingPOST_2","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"adjustmentReasonRecordDTO","description":"adjustmentReasonRecordDTO","required":true,"schema":{"originalRef":"AdjustmentReasonRecordDTO","$ref":"#/definitions/AdjustmentReasonRecordDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentLaunchOnlyResponseDTO","$ref":"#/definitions/AdjustmentLaunchOnlyResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment/register/1.1":{"post":{"tags":["adjustment-reason-record-controller"],"summary":"Register Adjustment","operationId":"registerUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AdjustmentReasonRegisterDTO","$ref":"#/definitions/AdjustmentReasonRegisterDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentLaunchOnlyResponseDTO","$ref":"#/definitions/AdjustmentLaunchOnlyResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment/update/{id}":{"put":{"tags":["adjustment-reason-record-controller"],"summary":"Update Adjustment Reason Record V2","operationId":"updateAdjustmentReasonRecordV2UsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"adjustmentReasonRecordUpdate","description":"adjustmentReasonRecordUpdate","required":true,"schema":{"originalRef":"AdjustmentReasonRecordUpdateV2DTO","$ref":"#/definitions/AdjustmentReasonRecordUpdateV2DTO"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentLaunchResponseDTO","$ref":"#/definitions/AdjustmentLaunchResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/adjustment/{id}":{"get":{"tags":["adjustment-reason-record-controller"],"summary":"Find one Adjustment","operationId":"findByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdjustmentReasonRecordResponseDTO","$ref":"#/definitions/AdjustmentReasonRecordResponseDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["adjustment-reason-record-controller"],"summary":"Update Adjustment Reason Record","operationId":"updateAdjustmentReasonRecordUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"adjustmentReasonRecordUpdate","description":"adjustmentReasonRecordUpdate","required":true,"schema":{"originalRef":"AdjustmentReasonRecordUpdateDTO","$ref":"#/definitions/AdjustmentReasonRecordUpdateDTO"}},{"in":"body","name":"endDate","description":"Adjustment end datetime in milliseconds","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"fullDay","description":"If true, any absence during regular work hours is compensated on the specified date range","required":false,"schema":{"type":"boolean"}},{"name":"id","in":"path","description":"Adjustment reason record id","required":true,"type":"integer","format":"int64"},{"in":"body","name":"origem","description":"Name of the calling application","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"startDate","description":"Adjustment start datetime in milliseconds","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"body","name":"status","description":"Adjustment reason new status","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/admission/ficha-cadastral":{"get":{"tags":["admission-controller"],"summary":"fichaCadastral","operationId":"fichaCadastralUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":false,"type":"string"},{"name":"cboCargo","in":"query","required":false,"type":"boolean"},{"name":"cnpjEmpregador","in":"query","required":false,"type":"boolean"},{"name":"enderecoEmpregador","in":"query","required":false,"type":"boolean"},{"name":"fkCargo","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fkEscalaTrabalho","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fkFilial","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fkGestor","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fkGestorImediato","in":"query","required":false,"type":"integer","format":"int64"},{"name":"fkLocalTrabalho","in":"query","required":false,"type":"integer","format":"int64"},{"name":"nomeEmpregador","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"FichaCadastralDTO","$ref":"#/definitions/FichaCadastralDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/alert":{"post":{"tags":["alert-controller"],"summary":"Create alert","operationId":"sendAlertUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AlertDTO","$ref":"#/definitions/AlertDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/assinatura-eletronica/whitelist":{"get":{"tags":["assinatura-eletronica-controller"],"summary":"getWhitelist","operationId":"getWhitelistUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«AssinaturaEletronicaWhitelistDTO»","$ref":"#/definitions/BaseItemDTO«AssinaturaEletronicaWhitelistDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/auth":{"post":{"tags":["employer-controller"],"summary":"Auth Employer","operationId":"authUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"employer","description":"employer","required":true,"schema":{"originalRef":"EmployerAuthDTO","$ref":"#/definitions/EmployerAuthDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployerAuthReturnDTO","$ref":"#/definitions/EmployerAuthReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/batch-action/update-effective-date":{"post":{"tags":["batch-action-controller"],"summary":"Update Employees Effective Date","operationId":"updateEffectiveDateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"companyId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"employeeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"referenceDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"updatedByPunch","in":"query","description":"Updated By Punch","required":false,"type":"boolean","allowEmptyValue":false},{"name":"updatedType","in":"query","description":"Updated Type","required":false,"type":"string","allowEmptyValue":false,"enum":["UPDATED_BY_ALL_EMPLOYEES","UPDATED_BY_COMPANY","UPDATED_BY_WORKPLACE","UPDATED_BY_SOME_EMPLOYEES"]},{"name":"workplaceId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResultUpdateEffectiveDTO","$ref":"#/definitions/ResultUpdateEffectiveDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/bf-game/activated-offer/{id}":{"get":{"tags":["black-november-game-controller"],"summary":"getEmpresaAtivouOferta","operationId":"getEmpresaAtivouOfertaUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/bf-game/add-views":{"post":{"tags":["black-november-game-controller"],"summary":"Increments by one each time a user sees the page","operationId":"addViewsUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"blackGameDTO","description":"blackGameDTO","required":true,"schema":{"originalRef":"BlackGameDTO","$ref":"#/definitions/BlackGameDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/bf-game/save":{"post":{"tags":["black-november-game-controller"],"summary":"SaveOrUpdate BF Game Registry","operationId":"saveOrUpdateBfGameUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"blackGameDTO","description":"blackGameDTO","required":true,"schema":{"originalRef":"BlackGameDTO","$ref":"#/definitions/BlackGameDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/cbos":{"get":{"tags":["cbo-controller"],"summary":"Find all CBOs","operationId":"findAllCboUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«CBODTO»","$ref":"#/definitions/Page«CBODTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/cbos/cbo":{"get":{"tags":["cbo-controller"],"summary":"Find CBO by cbo","operationId":"findCboByCboUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"cbo","in":"query","description":"cbo","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"CBODTO","$ref":"#/definitions/CBODTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"CBO not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/cbos/{id}":{"get":{"tags":["cbo-controller"],"summary":"Find CBO by Id","operationId":"findCboByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CBODTO","$ref":"#/definitions/CBODTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"CBO not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/companies":{"get":{"tags":["company-controller"],"summary":"Find all Companies","operationId":"findAllUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"originalRef":"Page«CompanyCNPJDTO»","$ref":"#/definitions/Page«CompanyCNPJDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"post":{"tags":["company-controller"],"summary":"Create Company","operationId":"insertUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"company","description":"company","required":true,"schema":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}}],"responses":{"200":{"description":"Success","schema":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Company not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/companies/cnpj":{"get":{"tags":["company-controller"],"summary":"Find Company by CNPJ","operationId":"findByCnpjUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"cnpj","in":"query","description":"cnpj","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}}},"400":{"description":"CNPJ inválido."},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Company not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/companies/filter":{"get":{"tags":["company-controller"],"summary":"Find companies by filter","operationId":"findByFilterUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"accountStatus","in":"query","required":false,"type":"string","enum":["PAGANTE","TRIAL","CANCELADO","TRIAL_INSCRITO","BLOQUEADO","GRATUITA","INADIMPLENTE","FATURA_POR_FILIAL","TRIAL7","CONJUNTA_DP_RH","FREEMIUM","START"]},{"name":"alterationDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"cnpj","in":"query","required":false,"type":"string"},{"name":"descriptionName","in":"query","required":false,"type":"string"},{"name":"excluded","in":"query","required":false,"type":"boolean"},{"name":"externalId","in":"query","required":false,"type":"string"},{"name":"fantasyName","in":"query","required":false,"type":"string"},{"name":"fkEmployer","in":"query","required":false,"type":"integer","format":"int64"},{"name":"headquarters","in":"query","required":false,"type":"boolean"},{"name":"id","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"registrationDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"socialReason","in":"query","required":false,"type":"string"},{"name":"sponsor","in":"query","required":false,"type":"string"},{"name":"sponsorEmail","in":"query","required":false,"type":"string"},{"name":"standard","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}}},"204":{"description":"No Content","schema":{"type":"array","items":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/companies/{id}":{"get":{"tags":["company-controller"],"summary":"Find one Company by id","operationId":"findOneByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Success","schema":{"originalRef":"CompanyCNPJDTO","$ref":"#/definitions/CompanyCNPJDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Company not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/contact":{"post":{"tags":["contact-controller"],"summary":"Create Contact","operationId":"createUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"ContactDTO","$ref":"#/definitions/ContactDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ContactDTO","$ref":"#/definitions/ContactDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["contact-controller"],"summary":"Put Contact","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"ContactDTO","$ref":"#/definitions/ContactDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«ContactDTO»","$ref":"#/definitions/BaseItemDTO«ContactDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/contact/{userId}":{"get":{"tags":["contact-controller"],"summary":"Get Contact","operationId":"getUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«ContactResponseDTO»","$ref":"#/definitions/BaseItemDTO«ContactResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/cost-center/find-all":{"get":{"tags":["cost-center-controller"],"summary":"Find All Cost Centers By Employer","operationId":"getCoastCenterUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"lastUpdate","in":"query","description":"purpose of this property is to return only employees with update more recent than this date - timeinmilis ","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/device-request/employerCode/{employerCode}/pin/{pin}":{"post":{"tags":["device-request-controller"],"summary":"Create Device Authorization Request","operationId":"createUsingPOST_2","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employerCode","in":"path","description":"employerCode","required":true,"type":"string"},{"name":"pin","in":"path","description":"pin","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"DeviceRequestDTO","$ref":"#/definitions/DeviceRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Message","$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/device-request/pin/{pin}":{"post":{"tags":["device-request-controller"],"summary":"Create Device Authorization Request","operationId":"createUsingPOST_3","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"pin","in":"path","description":"pin","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"DeviceRequestDTO","$ref":"#/definitions/DeviceRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Message","$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/device/employerCode/{employerCode}":{"post":{"tags":["device-controller"],"summary":"Create Device","operationId":"createUsingPOST_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employerCode","in":"path","description":"employerCode","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"DeviceRequestDTO","$ref":"#/definitions/DeviceRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Message","$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/device/employerCode/{employerCode}/deviceId/{deviceId}/checkDeviceValidity":{"get":{"tags":["device-controller"],"summary":"Check Device Validity","operationId":"checkDeviceValidityUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"name":"employerCode","in":"path","description":"employerCode","required":true,"type":"string"},{"name":"pin","in":"query","description":"pin","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DeviceValidityDTO","$ref":"#/definitions/DeviceValidityDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/digital-signature":{"post":{"tags":["digital-signage-controller"],"summary":"Create new","operationId":"createNewUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"DigitalSignageReturnDTO","$ref":"#/definitions/DigitalSignageReturnDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DigitalSignageReturnDTO","$ref":"#/definitions/DigitalSignageReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["digital-signage-controller"],"summary":"Update an existing","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"DigitalSignageReturnDTO","$ref":"#/definitions/DigitalSignageReturnDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DigitalSignageReturnDTO","$ref":"#/definitions/DigitalSignageReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/digital-signature/generate-timesheet-ged":{"post":{"tags":["digital-signage-controller"],"summary":"Generate timesheet and send it for digital signature via GED","operationId":"generateTimeSheetForSignatureUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GenerateTimeSheetSignatureRequestDTO","$ref":"#/definitions/GenerateTimeSheetSignatureRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"GenerateTimeSheetSignatureResponseDTO","$ref":"#/definitions/GenerateTimeSheetSignatureResponseDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/digital-signature/get-last-pending":{"get":{"tags":["digital-signage-controller"],"summary":"Find last pending digital signature","operationId":"findLastPendingUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employeeId","in":"query","description":"Employee id","required":false,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DigitalSignageReturnDTO","$ref":"#/definitions/DigitalSignageReturnDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/digital-signature/show-image/{id}":{"get":{"tags":["digital-signage-controller"],"summary":"showImage","operationId":"showImageUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Resource","$ref":"#/definitions/Resource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/digital-signature/{id}":{"delete":{"tags":["digital-signage-controller"],"summary":"Delete one","operationId":"deleteOneUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id of your entity","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/command/{imei}":{"get":{"tags":["electronic-watch-controller"],"summary":"Create Electronic Watch","operationId":"commandUsingGET","produces":["text/plain"],"parameters":[{"name":"imei","in":"path","description":"imei","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/employees":{"get":{"tags":["electronic-watch-controller"],"summary":"Find Employees Basic Information","operationId":"findEmployeeBasicInfoUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"branchExternaId","in":"query","required":false,"type":"string"},{"name":"fkPunchRule","in":"query","required":false,"type":"integer","format":"int64"},{"name":"lastSyncAsDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"lastSyncDate","in":"query","description":"Last Sync Date on Millis","required":false,"type":"ref"},{"name":"managerDetails","in":"query","required":false,"type":"boolean"},{"name":"managerExternalId","in":"query","required":false,"type":"string"},{"name":"managerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"onlyNoSync","in":"query","description":"List Only no Sync","required":false,"type":"boolean","default":false},{"name":"showFired","in":"query","required":false,"type":"boolean"},{"name":"updateDate","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"EmployeeBasicInfoReturnDTO","$ref":"#/definitions/EmployeeBasicInfoReturnDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/employees/{code}":{"get":{"tags":["electronic-watch-controller"],"summary":"Find Employee Basic Information By Code","operationId":"findEmployeeBasicInfoUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeBasicInfoReturnDTO","$ref":"#/definitions/EmployeeBasicInfoReturnDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["electronic-watch-controller"],"summary":"Update Employee Basic Information By Code","operationId":"updateEmployeeBasicInfoUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"integer","format":"int64"},{"in":"body","name":"employee","description":"employee","required":true,"schema":{"originalRef":"EmployeeBasicInfoReturnDTO","$ref":"#/definitions/EmployeeBasicInfoReturnDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeBasicInfoReturnDTO","$ref":"#/definitions/EmployeeBasicInfoReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/employer":{"get":{"tags":["electronic-watch-controller"],"summary":"Find Basic Employer Information","operationId":"findBasicEmployerInfoUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployerBasicInfoReturnDTO","$ref":"#/definitions/EmployerBasicInfoReturnDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/validate-hash":{"post":{"tags":["electronic-watch-controller"],"summary":"Validate Hash","operationId":"validateHashUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AfdProcessingEventRequestDTO","$ref":"#/definitions/AfdProcessingEventRequestDTO"}}],"responses":{"200":{"description":"AFD file valid for processing","schema":{"originalRef":"AfdProcessingEventRequestDTO","$ref":"#/definitions/AfdProcessingEventRequestDTO"}},"201":{"description":"Created"},"400":{"description":"AFD previously processed in another request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/watch/{serial}":{"get":{"tags":["electronic-watch-controller"],"summary":"Find Watch By Serial Number Information","operationId":"findWatchsBySerialInfoUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"serial","in":"path","description":"serial","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/watchs":{"get":{"tags":["electronic-watch-controller"],"summary":"Find Watchs Basic Information","operationId":"findWatchsBasicInfoUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"post":{"tags":["electronic-watch-controller"],"summary":"Create Electronic Watch","operationId":"createWatchUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"watch","description":"watch","required":true,"schema":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/watchs/{code}":{"put":{"tags":["electronic-watch-controller"],"summary":"Update Electronic Watch","operationId":"updateWatchUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"integer","format":"int64"},{"in":"body","name":"watch","description":"watch","required":true,"schema":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ElectronicWatchBasicInfoReturnDTO","$ref":"#/definitions/ElectronicWatchBasicInfoReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"delete":{"tags":["electronic-watch-controller"],"summary":"Remove Electronic Watch","operationId":"removeWatchUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Message","$ref":"#/definitions/Message"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/electronic-watch/watchs/{code}/status":{"put":{"tags":["electronic-watch-controller"],"summary":"Update Electronic Watch Status","operationId":"updateWatchStatusUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"integer","format":"int64"},{"in":"body","name":"status","description":"status","required":true,"schema":{"originalRef":"ElectronicWatchStatusDTO","$ref":"#/definitions/ElectronicWatchStatusDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Message","$ref":"#/definitions/Message"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-function":{"get":{"tags":["employee-function-controller"],"summary":"Find all employees function","operationId":"findAllByEmployerUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FunctionDTO","$ref":"#/definitions/FunctionDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"post":{"tags":["employee-function-controller"],"summary":"Register employee function","operationId":"registerUsingPOST_4","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"functionSimpleDTO","description":"functionSimpleDTO","required":true,"schema":{"originalRef":"EmployeeFunctionSimpleDTO","$ref":"#/definitions/EmployeeFunctionSimpleDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"FunctionDTO","$ref":"#/definitions/FunctionDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-function/{id}":{"get":{"tags":["employee-function-controller"],"summary":"Find employee function by Id","operationId":"findByIdUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"FunctionDTO","$ref":"#/definitions/FunctionDTO"}},"400":{"description":"Id must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Work Schedule not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["employee-function-controller"],"summary":"Update employee function","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"functionSimpleDTO","description":"functionSimpleDTO","required":true,"schema":{"originalRef":"EmployeeFunctionSimpleDTO","$ref":"#/definitions/EmployeeFunctionSimpleDTO"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"FunctionDTO","$ref":"#/definitions/FunctionDTO"}},"201":{"description":"Created"},"400":{"description":"Id must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Work Schedule not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"delete":{"tags":["employee-function-controller"],"summary":"Delete employee function","operationId":"deleteUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"204":{"description":"No Content"},"400":{"description":"Id must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Work Schedule not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-range":{"get":{"tags":["employee-range-controller"],"summary":"Buscar faixa de colaboradores","description":"Retorna a classificação de faixa de colaboradores da empresa do usuário logado.","operationId":"getEmployeeRangeUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeRangeResponseDTO","$ref":"#/definitions/EmployeeRangeResponseDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Empresa não encontrada"},"500":{"description":"Erro interno"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/free-work-schedule/assign":{"post":{"tags":["employee-work-schedule-controller"],"summary":"Assign Employee Free Work Schedule","operationId":"assignFreeWorkScheduleUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"assignEmployeeToFreeWorkScheduleDTO","description":"assignEmployeeToFreeWorkScheduleDTO","required":true,"schema":{"originalRef":"AssignEmployeeToFreeWorkScheduleDTO","$ref":"#/definitions/AssignEmployeeToFreeWorkScheduleDTO"}}],"responses":{"201":{"description":"Created","schema":{"originalRef":"BaseListDTO«AssignEmployeeFreeWorkScheduleResponseDTO»","$ref":"#/definitions/BaseListDTO«AssignEmployeeFreeWorkScheduleResponseDTO»"}},"400":{"description":"Employee not found. workSchedulle not found. "},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"},"412":{"description":"At least one of the values must be provided. StartDate cannot be before employee effective start date. Employee should have a not null effective start date. startDate can not be null. workScheduleId can not be null. Employee already has a work schedule for the date informed.This work schedule is already in effect for this employee.This work schedule is already registered with a date higher than the one reported."}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["employee-work-schedule-controller"],"summary":"Update Employee Free Work Schedule","operationId":"updateEmployeeWorkScheduleUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"day","in":"query","description":"day","required":true,"type":"integer","format":"int32"},{"name":"employeeId","in":"query","description":"employeeId","required":true,"type":"integer","format":"int64"},{"name":"month","in":"query","description":"month","required":true,"type":"integer","format":"int32"},{"name":"workSceduleId","in":"query","description":"workSceduleId","required":true,"type":"integer","format":"int64"},{"name":"year","in":"query","description":"year","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«AssignEmployeeFreeWorkScheduleResponseDTO»","$ref":"#/definitions/BaseItemDTO«AssignEmployeeFreeWorkScheduleResponseDTO»"}},"201":{"description":"Created"},"400":{"description":"employeeId must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Employee not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/free-work-schedule/delete":{"delete":{"tags":["employee-work-schedule-controller"],"summary":"Delete Employee Free Work Schedule","operationId":"hardDeleteEmployeeWorkScheduleUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"day","in":"query","description":"day","required":true,"type":"integer","format":"int32"},{"name":"employeeId","in":"query","description":"employeeId","required":true,"type":"integer","format":"int64"},{"name":"month","in":"query","description":"month","required":true,"type":"integer","format":"int32"},{"name":"workSceduleId","in":"query","description":"workSceduleId","required":true,"type":"integer","format":"int64"},{"name":"year","in":"query","description":"year","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO","$ref":"#/definitions/BaseItemDTO"}},"204":{"description":"No Content"},"400":{"description":"employeeId must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Employee not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/free-work-schedule/employee/find-by-filter":{"get":{"tags":["employee-work-schedule-controller"],"summary":"Get Employees With Free Work Schedule By Filter","operationId":"findByFilterUsingGET_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"companyId","in":"query","description":"companyId","required":false,"type":"integer","format":"int64"},{"name":"employeeId","in":"query","description":"employeeId","required":false,"type":"integer","format":"int64"},{"name":"freeWorkSchedule","in":"query","description":"freeWorkSchedule","required":false,"type":"boolean"},{"name":"jobRoleId","in":"query","description":"jobRoleId","required":false,"type":"integer","format":"int64"},{"name":"managerId","in":"query","description":"managerId","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"workPlaceId","in":"query","description":"workPlaceId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«Page«EmployeeFreeWorkScheduleDTO»»","$ref":"#/definitions/BaseItemDTO«Page«EmployeeFreeWorkScheduleDTO»»"}},"400":{"description":"employeeId must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Employee not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/free-work-schedule/find-by-filter":{"get":{"tags":["employee-work-schedule-controller"],"summary":"Get Employee Free Work Schedule","operationId":"findByEmployeeIdAtYearAndMonthUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employeeId","in":"query","description":"employeeId","required":true,"type":"integer","format":"int64"},{"name":"month","in":"query","description":"month","required":true,"type":"integer","format":"int32"},{"name":"year","in":"query","description":"year","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«AssignEmployeeFreeWorkScheduleResponseWithoutPinDTO»","$ref":"#/definitions/BaseItemDTO«AssignEmployeeFreeWorkScheduleResponseWithoutPinDTO»"}},"400":{"description":"employeeId must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Employee not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/free-work-schedule/replacement":{"post":{"tags":["employee-work-schedule-controller"],"summary":"Replacement Employee Free Work Schedule","operationId":"replacementFreeWorkScheduleUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"replacementFreeWorkScheduleDTO","description":"replacementFreeWorkScheduleDTO","required":true,"schema":{"originalRef":"ReplacementFreeWorkScheduleDTO","$ref":"#/definitions/ReplacementFreeWorkScheduleDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseItemDTO«ReplacementFreeWorkScheduleDTO»","$ref":"#/definitions/BaseItemDTO«ReplacementFreeWorkScheduleDTO»"}},"201":{"description":"Created"},"400":{"description":"Employee not found. Work schedule not found. Work schedule replacement not allowed for the same employee. Work schedule replacement not allowed for the same date. Work schedule replacement is only allowed for the same month and year. Replacement allowed for employees with free work schedule. Employee have a work schedule on the day informed.Employee does not have a work schedule on the day informed. Invalid work schedule, does not have periods. The work schedules do not have the same workload. "},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/register":{"post":{"tags":["employee-work-schedule-controller"],"summary":"Assign Employee Work Schedule","operationId":"registerUsingPOST_5","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"employeeWorkScheduleAssignDTO","description":"employeeWorkScheduleAssignDTO","required":true,"schema":{"originalRef":"EmployeeWorkScheduleAssignDTO","$ref":"#/definitions/EmployeeWorkScheduleAssignDTO"}}],"responses":{"201":{"description":"Created","schema":{"originalRef":"EmployeeWorkScheduleAssignResponseDTO","$ref":"#/definitions/EmployeeWorkScheduleAssignResponseDTO"}},"400":{"description":"Employee not found. workSchedulle not found. "},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"},"412":{"description":"At least one of the values must be provided. StartDate cannot be before employee effective start date. Employee should have a not null effective start date. startDate can not be null. workScheduleId can not be null. Employee already has a work schedule for the date informed.This work schedule is already in effect for this employee.This work schedule is already registered with a date higher than the one reported."}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/reprocess":{"post":{"tags":["employee-work-schedule-controller"],"summary":"Assign Employee Work Schedule","operationId":"reprocessUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"workScheduleReprocessDTO","description":"workScheduleReprocessDTO","required":true,"schema":{"originalRef":"WorkScheduleReprocessDTO","$ref":"#/definitions/WorkScheduleReprocessDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"400":{"description":"Employee not found. workSchedulle not found. "},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"},"412":{"description":"At least one of the values must be provided. StartDate cannot be before employee effective start date. Employee should have a not null effective start date. startDate can not be null. workScheduleId can not be null. Employee already has a work schedule for the date informed.This work schedule is already in effect for this employee.This work schedule is already registered with a date higher than the one reported."}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee-work-schedule/{id}":{"get":{"tags":["employee-work-schedule-controller"],"summary":"Get Employee Work Schedule","operationId":"findCurrentByEmployeeAtDateUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"date","in":"query","description":"date","required":false,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"WorkScheduleReturnDTO","$ref":"#/definitions/WorkScheduleReturnDTO"}},"400":{"description":"employeeId must be provided"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Employee not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/assign-work-schedule":{"post":{"tags":["employee-controller"],"summary":"Assign work schedule of Employee","operationId":"assignWorkScheduleUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"externalId","in":"query","description":"Employee External Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"startDate","required":false,"type":"integer","format":"int64"},{"name":"tangerinoId","in":"query","description":"Employee Tangerino Id","required":false,"type":"integer","format":"int64"},{"name":"workScheduleExternalId","in":"query","description":"workScheduleExternalId","required":false,"type":"string"},{"name":"workScheduleId","in":"query","description":"workScheduleId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/dismiss":{"post":{"tags":["employee-controller"],"summary":"Dismiss Employee","operationId":"dismissUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dismissDTO","description":"dismissDTO","required":true,"schema":{"originalRef":"DismissDTO","$ref":"#/definitions/DismissDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/find":{"get":{"tags":["employee-controller"],"summary":"Find One Employee","operationId":"findEmployeeByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"externalId","in":"query","description":"Employee External Id","required":false,"type":"string"},{"name":"ignoreFired","in":"query","description":"ignoreFired","required":false,"type":"boolean","default":true},{"name":"tangerinoId","in":"query","description":"Employee Tangerino Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeReturnWithoutPinDTO","$ref":"#/definitions/EmployeeReturnWithoutPinDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/find-all":{"get":{"tags":["employee-controller"],"summary":"Find All Employees By Employer","operationId":"findAllEmployeeUsingGET_2","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"branchExternalId","in":"query","description":"Id Externo da Filial ","required":false,"type":"string"},{"name":"fkPunchRule","in":"query","description":"fkPunchRule","required":false,"type":"integer","format":"int64"},{"name":"lastUpdate","in":"query","description":"purpose of this property is to return only employees with update more recent than this date - timeinmilis ","required":false,"type":"integer","format":"int64"},{"name":"managerDetails","in":"query","description":"managerDetails","required":false,"type":"boolean"},{"name":"managerExternalId","in":"query","description":"Manager external id ","required":false,"type":"string"},{"name":"managerId","in":"query","description":"managerId","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"showFired","in":"query","description":"Exibir colaboradores demitidos","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«EmployeeReturnWithoutPinDTO»","$ref":"#/definitions/Page«EmployeeReturnWithoutPinDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/find-empty-cpf-employees":{"get":{"tags":["employee-controller"],"summary":"findEmptyCpfEmployee","operationId":"findEmptyCpfEmployeeUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"branchExternalId","in":"query","description":"branchExternalId","required":false,"type":"string"},{"name":"fkPunchRule","in":"query","description":"fkPunchRule","required":false,"type":"integer","format":"int64"},{"name":"lastUpdate","in":"query","description":"lastUpdate","required":false,"type":"integer","format":"int64"},{"name":"managerExternalId","in":"query","description":"managerExternalId","required":false,"type":"string"},{"name":"managerId","in":"query","description":"managerId","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"showFired","in":"query","description":"showFired","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«EmployeeEmptyCPFReturnDTO»","$ref":"#/definitions/Page«EmployeeEmptyCPFReturnDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/register":{"post":{"tags":["employee-controller"],"summary":"Register Employee","operationId":"registerUsingPOST_3","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"allowUpdate","in":"query","description":"Allow update the employee if it exists and it's not fired","required":false,"type":"boolean"},{"in":"body","name":"employeeDTO","description":"employeeDTO","required":true,"schema":{"originalRef":"EmployeeDTO","$ref":"#/definitions/EmployeeDTO"}},{"name":"gestorId","in":"header","description":"Link employee to manager when register the employee","required":false,"type":"integer","format":"int64"},{"name":"skipUnifiedSync","in":"query","description":"Skip synchronization with the shared unified registration base (CUC) for this request","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/remove-signed-work-schedule":{"delete":{"tags":["employee-controller"],"summary":"Assign work schedule of Employee","operationId":"removeSignedWorkScheduleUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"externalId","in":"query","description":"Employee External Id","required":false,"type":"string"},{"name":"startDate","in":"query","description":"startDate","required":false,"type":"integer","format":"int64"},{"name":"tangerinoId","in":"query","description":"Employee Tangerino Id","required":false,"type":"integer","format":"int64"},{"name":"workScheduleExternalId","in":"query","description":"workScheduleExternalId","required":false,"type":"string"},{"name":"workScheduleId","in":"query","description":"workScheduleId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/update-phone":{"patch":{"tags":["employee-controller"],"summary":"Update employee phone","operationId":"updateEmployeePhoneUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"EmployeePhoneUpdateDTO","$ref":"#/definitions/EmployeePhoneUpdateDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeSimpleResponseDTO","$ref":"#/definitions/EmployeeSimpleResponseDTO"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/upload-photo":{"post":{"tags":["employee-controller"],"summary":"Upload photo to employee","operationId":"uploadPhotoToEmployeeUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"base64Photo","description":"base64Photo","required":true,"schema":{"type":"string"}},{"name":"employeeId","in":"query","description":"employeeId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok","schema":{"originalRef":"BaseItemDTO«UploadImageResponseDTO»","$ref":"#/definitions/BaseItemDTO«UploadImageResponseDTO»"}},"201":{"description":"Created"},"400":{"description":"Employee id is required.\t\n Employee not found.\t\n Error to recognize facial\t\n Body doesn't contains a base64 file.\t\n Upload photo failed.\t\n Unable to load the image, try with another file.\t\n The file cannot be processed.\t\n More than 1 face identified in the image! Position only 1 face in the photo!\t\n Image with low brightness!\t\n Distant image, bring your face closer to the camera\t\n Unidentified face in image!\t\n There is already a registered employee with this photo!"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employee/workschedule/{employeeId}":{"head":{"tags":["employee-controller"],"summary":"Verify if Current Work Schedule is Cyclic by Employee Id","operationId":"currentWorkschudelIsCyclicUsingHEAD","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employeeId","in":"path","description":"employeeId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/employer/params":{"get":{"tags":["employer-controller"],"summary":"Responses Employer gedSignature parameter","operationId":"updateEmployerByParamsUsingGET","produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployerParamReturnDTO","$ref":"#/definitions/EmployerParamReturnDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["employer-controller"],"summary":"Update Employer gedSignature parameter","operationId":"updateEmployerByParamsUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"employerParameters","description":"employerParameters","required":true,"schema":{"originalRef":"EmployerParametersDTO","$ref":"#/definitions/EmployerParametersDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployerParamReturnDTO","$ref":"#/definitions/EmployerParamReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":true}},"/external/api/v1/payssego/employee":{"get":{"tags":["payssego-controller"],"summary":"Get Employee Information byEmployer","operationId":"findAllUsingGET_2","produces":["application/json"],"parameters":[{"name":"externalId","in":"query","description":"externalId","required":false,"type":"string"},{"name":"tangerinoId","in":"query","description":"tangerinoId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"EmployeeReturnWithoutPinDTO","$ref":"#/definitions/EmployeeReturnWithoutPinDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/external/api/v1/payssego/employee/all":{"get":{"tags":["payssego-controller"],"summary":"Get All Employee Information by Employer","operationId":"findOneUsingGET","produces":["application/json"],"parameters":[{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«EmployeeReturnWithoutPinDTO»","$ref":"#/definitions/Page«EmployeeReturnWithoutPinDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/external/api/v1/payssego/punches/{employeeId}":{"get":{"tags":["payssego-controller"],"summary":"Find Punch Information By Employee","operationId":"findEmployeePunchesUsingGET","produces":["application/json"],"parameters":[{"name":"adjustment","in":"query","required":false,"type":"boolean"},{"name":"clientDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"employeeId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"employeeId","in":"path","description":"employeeId","required":true,"type":"integer","format":"int64"},{"name":"endDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"externalId","in":"query","required":false,"type":"string"},{"name":"extra","in":"query","required":false,"type":"boolean"},{"name":"justClosed","in":"query","required":false,"type":"boolean"},{"name":"lastUpdate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"onlyPending","in":"query","required":false,"type":"boolean"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pin","in":"query","required":false,"type":"string"},{"name":"showFired","in":"query","required":false,"type":"boolean"},{"name":"showSecurityCode","in":"query","required":false,"type":"boolean"},{"name":"status","in":"query","required":false,"type":"string","enum":["REPROVED","APPROVED","PENDING"]},{"name":"viewHoursBank","in":"query","required":false,"type":"boolean"},{"name":"viewWeeklyHoursBank","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«PunchSimpleDTO»","$ref":"#/definitions/Page«PunchSimpleDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/holiday-calendar/":{"get":{"tags":["holiday-calendar-controller"],"summary":"Get Holiday's Calendar","operationId":"findByFilterHolidaysCalendarUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"year","in":"query","description":"year","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseListDTO«HolidayCalendarResponseDTO»","$ref":"#/definitions/BaseListDTO«HolidayCalendarResponseDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"post":{"tags":["holiday-calendar-controller"],"summary":"Create a Holiday's Calendar","operationId":"registerCalendarUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"holidayCalendarResponseDTO","description":"holidayCalendarResponseDTO","required":true,"schema":{"originalRef":"HolidayCalendarResponseDTO","$ref":"#/definitions/HolidayCalendarResponseDTO"}},{"name":"importBrazilianFixedHolidays","in":"query","description":"importBrazilianFixedHolidays","required":false,"type":"boolean"}],"responses":{"201":{"description":"Created","schema":{"originalRef":"BaseItemDTO«HolidayCalendarResponseDTO»","$ref":"#/definitions/BaseItemDTO«HolidayCalendarResponseDTO»"}},"400":{"description":"Name of Calendar's Holiday is required.Year of Calendar's Holiday is required.For update Calendar's Holiday use a method PUT.Is not possible import a braziliam fixed holidays for this year, because dont have in database a default Holiday's Calendar.Exists duplicate date's holidays in list of holidays."},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["holiday-calendar-controller"],"summary":"Update a Holiday's Calendar","operationId":"updateCalendarUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"holidayCalendarResponseDTO","description":"holidayCalendarResponseDTO","required":true,"schema":{"originalRef":"HolidayCalendarResponseDTO","$ref":"#/definitions/HolidayCalendarResponseDTO"}}],"responses":{"200":{"description":"Ok","schema":{"originalRef":"BaseItemDTO«HolidayCalendarResponseDTO»","$ref":"#/definitions/BaseItemDTO«HolidayCalendarResponseDTO»"}},"201":{"description":"Created"},"400":{"description":"Name of Calendar's Holiday is required.Holiday's calendar id must be provided.The Holiday's Calendar cannot be change because there are one or more collaborators linked or it is being used in periods that have already been consolidated.Holiday's calendar id not found.Year cannot be before 1970Year cannot be after 2500"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"delete":{"tags":["holiday-calendar-controller"],"summary":"Delete a Holiday's Calendar","operationId":"deleteCalendarUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"calendarHolidayId","in":"query","description":"calendarHolidayId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok","schema":{"originalRef":"BaseItemDTO","$ref":"#/definitions/BaseItemDTO"}},"204":{"description":"No Content"},"400":{"description":"Calendar's Holiday id is required.Calendar's Holiday not found.The Holiday's Calendar cannot be removed because there are one or more collaborators linked or it is being used in periods that have already been consolidated."},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/holiday-calendar/add-holiday":{"post":{"tags":["holiday-calendar-controller"],"summary":"Add a Holiday in Holiday's Calendar","operationId":"addHolidayToCalendarUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"calendarHolidayId","in":"query","description":"calendarHolidayId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"holidayResponseDTO","description":"holidayResponseDTO","required":true,"schema":{"originalRef":"HolidayResponseDTO","$ref":"#/definitions/HolidayResponseDTO"}}],"responses":{"201":{"description":"Created","schema":{"originalRef":"BaseItemDTO«HolidayCalendarResponseDTO»","$ref":"#/definitions/BaseItemDTO«HolidayCalendarResponseDTO»"}},"400":{"description":"Calendar's Holiday id is required.Exists duplicate date's holidays in list of holidays.Calendar's Holiday not found.The Holiday's Calendar cannot be change because there are one or more collaborators linked or it is being used in periods that have already been consolidated."},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/holiday-calendar/remove-holiday":{"delete":{"tags":["holiday-calendar-controller"],"summary":"Delete a Holiday in Holiday's Calendar","operationId":"removeHolidayToCalendarUsingDELETE","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"calendarHolidayId","in":"query","description":"calendarHolidayId","required":true,"type":"integer","format":"int64"},{"name":"holidayId","in":"query","description":"holidayId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Ok","schema":{"originalRef":"BaseItemDTO","$ref":"#/definitions/BaseItemDTO"}},"204":{"description":"No Content"},"400":{"description":"Calendar's Holiday id is required.Holiday id is required.Calendar's Holiday not found.Holiday not found.The Holiday's Calendar cannot be change because there are one or more collaborators linked or it is being used in periods that have already been consolidated."},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/hubspot/freemium-term-acceptance":{"post":{"tags":["hubspot-controller"],"summary":"Notify HubSpot that a Freemium account accepted the terms of use","operationId":"notifyFreemiumTermAcceptanceUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"201":{"description":"Created"},"202":{"description":"Accepted"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/hubspot/raise-hands":{"post":{"tags":["hubspot-controller"],"summary":"Create hubspot raise hands","operationId":"raiseHandsHubspotUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"raiseHandsRequestDTO","description":"raiseHandsRequestDTO","required":true,"schema":{"originalRef":"RaiseHandsRequestDTO","$ref":"#/definitions/RaiseHandsRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"HubspotFieldsDTO","$ref":"#/definitions/HubspotFieldsDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/job-role/find":{"get":{"tags":["job-role-controller"],"summary":"Find one Job Role","operationId":"findJobRoleByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"externalId","in":"query","description":"Job Role External Id","required":false,"type":"string"},{"name":"tangerinoId","in":"query","description":"Job Role Tangerino Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"JobRoleDTO","$ref":"#/definitions/JobRoleDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/job-role/find-all":{"get":{"tags":["job-role-controller"],"summary":"Find All Job Roles By Employer","operationId":"findAllJobRoleUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"lastUpdate","in":"query","description":"purpose of this property is to return only employees with update more recent than this date - timeinmilis ","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«JobRoleDTO»","$ref":"#/definitions/Page«JobRoleDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/job-role/register":{"post":{"tags":["job-role-controller"],"summary":"Register Job Role","operationId":"registerUsingPOST_6","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"jobRoleDTO","description":"jobRoleDTO","required":true,"schema":{"originalRef":"JobRoleDTO","$ref":"#/definitions/JobRoleDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"JobRoleDTO","$ref":"#/definitions/JobRoleDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/job-role/{id}":{"delete":{"tags":["job-role-controller"],"summary":"Delete JobRole by Id","operationId":"deleteJobRoleByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Unauthenticated"},"404":{"description":"JobRole not found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/leads/":{"post":{"tags":["lead-controller"],"summary":"Save one lead","operationId":"registerLeadUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"leadDTO","description":"leadDTO","required":true,"schema":{"originalRef":"LeadDTO","$ref":"#/definitions/LeadDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"LeadDTO","$ref":"#/definitions/LeadDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/employees/associate":{"put":{"tags":["manager-controller"],"summary":"Associate Employees to Manager","operationId":"associateEmployeesUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"associateEmployeesToManagerDTO","description":"associateEmployeesToManagerDTO","required":true,"schema":{"originalRef":"AssociateEmployeesToManagerDTO","$ref":"#/definitions/AssociateEmployeesToManagerDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ManagerReturnDTO","$ref":"#/definitions/ManagerReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/employees/dissociate":{"put":{"tags":["manager-controller"],"summary":"Dissociate Employees to Manager","operationId":"dissociateEmployeesUsingPUT","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"dissociateEmployeesToManagerDTO","description":"dissociateEmployeesToManagerDTO","required":true,"schema":{"originalRef":"DissociateEmployeesToManagerDTO","$ref":"#/definitions/DissociateEmployeesToManagerDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ManagerReturnDTO","$ref":"#/definitions/ManagerReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/find":{"get":{"tags":["manager-controller"],"summary":"Find Manager","operationId":"findManagerByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employeeExternalId","in":"query","description":"Employee External Id","required":false,"type":"string"},{"name":"employeeId","in":"query","description":"Employee Tangerino Id","required":false,"type":"string"},{"name":"tangerinoId","in":"query","description":"Manager Tangerino Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ManagerReturnWithoutPinDTO","$ref":"#/definitions/ManagerReturnWithoutPinDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/find-all":{"get":{"tags":["manager-controller"],"summary":"Find All Managers ","operationId":"findEmployeesByManagerUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employeeManagerExternalId","in":"query","description":"Employee Manager External Id","required":false,"type":"string"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Current Page","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Page Size","required":false,"type":"integer","format":"int32"},{"name":"tangerinoManagerId","in":"query","description":"Manager Tangerino Id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Page«ManagerReturnWithoutPinDTO»","$ref":"#/definitions/Page«ManagerReturnWithoutPinDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/find-by-employees":{"post":{"tags":["manager-controller"],"summary":"Find all managers by employee list ","operationId":"findManagersByEmployeeListUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"employeeIds","description":"employeeIds","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"ManagerSimpleResponseDTO","$ref":"#/definitions/ManagerSimpleResponseDTO"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/manager/register":{"post":{"tags":["manager-controller"],"summary":"Register Manager","operationId":"registerUsingPOST_7","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"allowUpdate","in":"query","description":"Allow update the manager if it exists","required":false,"type":"boolean"},{"in":"body","name":"managerDTO","description":"managerDTO","required":true,"schema":{"originalRef":"ManagerDTO","$ref":"#/definitions/ManagerDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ManagerReturnDTO","$ref":"#/definitions/ManagerReturnDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/modularization/features":{"get":{"tags":["modularization-controller"],"summary":"List feature modules","operationId":"getAllFeatureModulesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FeatureModuleDTO","$ref":"#/definitions/FeatureModuleDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/modularization/features/{employerId}":{"get":{"tags":["modularization-controller"],"summary":"Get Feature Modules Employer","operationId":"getFeatureModulesEmployerByIdUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employerId","in":"path","description":"employerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FeatureModuleEmployerDTO","$ref":"#/definitions/FeatureModuleEmployerDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"patch":{"tags":["modularization-controller"],"summary":"Toggle Feature Modules Employer","operationId":"toggleFeatureModuleByEmployerIdUsingPATCH","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employerId","in":"path","description":"employerId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"requestDTO","description":"requestDTO","required":true,"schema":{"originalRef":"ToggleModuleRequestDTO","$ref":"#/definitions/ToggleModuleRequestDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FeatureModuleEmployerDTO","$ref":"#/definitions/FeatureModuleEmployerDTO"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/modularization/v1/features/{employerId}":{"get":{"tags":["modularization-controller"],"summary":"Get Feature Modules Employer","operationId":"getFeatureModulesEmployerByIdV2UsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"employerId","in":"path","description":"employerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FeatureModuleEmployerDTO","$ref":"#/definitions/FeatureModuleEmployerDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/modularization/v2/features/{document}":{"get":{"tags":["modularization-controller"],"summary":"Get Feature Modules Employer","operationId":"getFeatureModulesEmployerByDocumentUsingGET","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"document","in":"path","description":"document","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"FeatureModuleEmployerDTO","$ref":"#/definitions/FeatureModuleEmployerDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false}},"/notifications/employees/{employeeId}/notification-status":{"get":{"tags":["notification-controller"],"summary":"Get punch notification email status","operationId":"getEmployeePunchNotificationStatusUsingGET","produces":["*/*"],"parameters":[{"name":"employeeId","in":"path","description":"employeeId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"Token Access":["USER"]}],"deprecated":false},"put":{"tags":["notification-controller"],"summary":"Enable or disable punch notification email","operationId":"setPunchNotificationStatusUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"employeeId","in":"path","description":"employeeId","required":true,"type":"integer","format":"int64"},{"name":"enableEmailPunchNotification","in":"query","description":"enableEmailPunchNotification","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ResponseEntity","$ref":"#/definitions/ResponseEntity"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":
[...]
